body, html {
    margin:0px;
    padding: 0px;
    font-family: Arial;
    font-size: 1em;
}

#header {
    width: 100%;
    height: 100px;
    padding: 4px 20px;
    border-bottom: 1px lightgray solid;
}

#logoLink {
    color: gold;
    font-size:150%;
    text-align:center;
    width:166px;
    margin-right 30px:
    display:block;
    text-decoration: none;
    float:left;
}

#searchForm {
    width: 300px;
    float:left;
    padding-top:35px;
    padding-left:30px;
}

#categories {
    width:100%;
    padding: 0px 10px;
    height: 30px;
    margin-bottom:5px;
    border-bottom: 1px lightgray solid;
}

#categories li {
    float:left;
    width:150px;
    height:30px;
}

#content {
    clear: both;
    padding:0px 10px;
    margin-bottom:5px;
}

#footer {
    clear: both;
    padding:2px 10px;
    border-top: 1px solid #000;
    line-height:20px;
    text-align:right;
    font-size: 70%;
}

.content-widget {
    clear: both;
    margin-top: 30px;
}

.content-widget:first-child {
    margin-top: 0px;
}

.content-widget h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.content-item {
    float: left;
    width: 260px;
    height: 250px;
    padding:10px;
    margin: 10px;
    text-align:center;
    border: 1px solid #fff;
}

.content-item:hover {
    border: 1px solid lightblue;
}

.content-item:hover h3 {
    color: darkblue;
}

.content-item img {
    width: 200px;
    min-height: 150px;
    max-height: 200px;
    margin-bottom:8px;
}

.content-item h3 {
    font-size: 1em;
    font-weight: bold;
    color: #000;
}

#item-detail h2 {
    font-size:100%;
}

#item-detail img {
    float:left;
    width:400px;
    margin-right:20px;
}

#item-detail .metadata {
    float:left;
    width: 600px;
    margin-right:20px;
}

#item-detail .featured {
    color: darkred;
    font-weight: bold;
}